.splash-midsection-wrapper {
    display: flex;
    height: 70vh;
    

    .splash-welcome-message{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        max-width: 80%;
        height: auto;
    }

    .splash-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        max-width: 80%;
        height: auto;
    }

}